.cake-error{
    color:white;
}

.cake-error a{
    color: red;
}

pre.stack-trace {
    color: white;
}

form .error-message{
    color: red;
}
.error{
    color: red;
    font-size: 14px;
}

.message{
    position:relative;
}

#dropdown-message-right{
    position: absolute;
    left: 96%;
    bottom: 55%;
}

#dropdown{
    position: relative;
}

#dropdown-menu{
    z-index: 100000;
    position: absolute;
    margin: 35% 0% 0% 29%;
}

.dropdown-menu .show{
    z-index: 100000;
}

.search{
    width: 100%;
}

.cake-debug{
    color: #fff;
}

pre{
    color: #fff;
}