.cake-error{
    color:white;
}

.cake-error a{
    color: red;
}

pre.stack-trace {
    color: white;
}

form .error-message{
    color: red;
}
.error{
    color: red;
    font-size: 14px;
}

.message{
    position:relative;
}

#dropdown-message-right{
    position: absolute;
    left: 96%;
    bottom: 55%;
}